<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Edit this pet </h1> 
  <form (submit)='updatePet()'>
      <p> {{ pet | json }} </p>
      <label> Pet name: </label>
      <input type='text' name='name' [(ngModel)]='pet["name"]'>
      <label> Pet type: </label>
      <input type='text' name='type' [(ngModel)]='pet["type"]'>
      <label> Description: </label>
      <input type='text' name='description' [(ngModel)]='pet["description"]'>
      <label> Skills (optional)</label>
      <input type='text' name='skill1'[(ngModel)]='pet["skill1"]'>
      <input type='text' name='skill2'[(ngModel)]='pet["skill2"]'>
      <input type='text' name='skill3' [(ngModel)]='pet["skill3"]'>
      <button> Add Pet </button>
      <input type='button' value='Cancel' (click)='cancel()'>
    </form>
    <p> {{ errors }} </p>
</body>
</html>